.tg{
    border-collapse:collapse;
    border-spacing:0;
    border-width:1px;
    border-style:solid;
    border-color:black; 
}
.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:8px 20px;
    border-style:solid;
    border-width:0px;
    overflow:hidden;
    word-break:normal;
}
.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:8px 20px;
    border-style:solid;
    border-width:0px;
    overflow:hidden;
    word-break:normal;
}
.tg .tg-66gv{
    background-color:#efefef;
    border-color:inherit
}
.tg .tg-kiyw{
    background-color:#efefef;
    border-color:inherit;
    vertical-align:top
}
.tg .tg-nca2{
    background-color:#ffffff;
    border-color:#000000
}
.tg .tg-eh2d{
    background-color:#ffffff;
    border-color:inherit;
    vertical-align:top
}
.tg .tg-4ofa{
    background-color:#f8a102;
    color:#000000;
    border-color:inherit
}
.tg .tg-f5ry{
    background-color:#ffffff;
    border-color:inherit
}
